<% content_for :meta_title, "#{@movie.title} is on #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @movie.description %>

<div class="container">

<%# --------- Card Top --------- %>
  <div class="row">
    <div class="col-12">
      <div class="container-cards">
        <h1>
          <%= @movie.title.capitalize %>
        </h1>
        <h1>Release year
          <% if @movie.release_year? %>
            <%= @movie.release_year %>
          <% else %>
            1900
          <% end %>
        </h1>
        <h3>Price - <%= @movie.price_per_day %>$</h3>
      </div>
    </div>
  </div>

<%# --------- All Cards --------- %>
  <div class="row">

  <%# --------- Card Image --------- %>
    <div class="col-6 vhs-show-card-image">
      <div class="vhs-show-card mt-3 mb-3" style="width: 30rem;">
          <%# <h5>VHS cover</h5> %>
          <% if @movie.photo.attached? %>
            <%= cl_image_tag @movie.photo.key, class: "img-fluid" %>
          <% else %>
            <p>Missing image</p>
          <% end %>
      </div>
    </div>
     <%# --------- Card Booking --------- %>
     <div class="col-6">
      <div class="vhs-show-card mt-3" style="width: 30rem;">
        <h5>Book this VHS!</h5>
        <div class= "d-flex flex-column bd-highlight">
          <%= simple_form_for [ @movie, @booking ] do |f| %>
            <%= f.input :start_date, as: :date, html5: true %>
            <%= f.input :end_date, as: :date, html5: true %>
            <p data-price-per-day="<%= @movie.price_per_day %>" id="price-per-day" >Select your date</p>
            <%= f.hidden_field :total_price, value: ""%>
            <%= f.submit "Book VHS", class: "vhs-button w-100" %>
          <% end %>
        </div>
      </div>
      <%# --------- Card Description --------- %>
      <div class="vhs-show-card mt-3" style="width: 30rem;">
          <div class="vhs-movie-desc"><p><%= @movie.description %></p></div>
      </div>
    </div>
  </div>
</div>

<div class="container" data-controller="insert-in-list">

  <div class="row">
    <div class="col-12">
      <div id="reviews" data-insert-in-list-target="items">
        <% if @movie.reviews.blank? %>
          Be the first to leave a review for <%= @movie.title %>
        <% else %>
          <% @movie.reviews.each do |review| %>
            <p id="review-<%= review.id %>"><%= review.content %></p>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-6">
      <%= simple_form_for([ @movie, @review ],
                      data: { insert_in_list_target: "form",
                      action: "submit->insert-in-list#send" }) do |f| %>
        <%= f.input :content, as: :text %>
        <%= f.submit "Soumettre", class: "vhs-button w-100" %>
      <% end %>
    </div>
  </div>
</div>
